@import url('https://fonts.googleapis.com/css2?family=Changa&family=Open+Sans&family=Roboto+Slab:wght@300&display=swap');

i {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
}

html {
    scroll-behavior: smooth;
}

/* resetoidaan marginaalit */
* { 
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    background: linear-gradient(to bottom right, rgba(3, 15, 19, 0.2), rgba(12, 58, 110, 0.3) ),
                radial-gradient(closest-side at 30% 65%,#e5e5e5, #ffffff);             
}

.taustakuva {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, rgba(3, 15, 19, 0.451), rgba(10, 110, 143, 0.4) ),
                      url("../images/piqsels.com-forest.jpg");
}

/* navin "logon" ikonin asettelua*/
.logo_icon {
    top: 0.1em;
    position: relative;
    border-right: 2px solid #F0EBEB;
    padding-right: 0.5em;
    font-weight: lighter;
    margin-right: 0.3em;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48;
}

table.logo {
    color:#F0EBEB;
    font-family: 'Roboto Condensed', serif;
    position: fixed;
    top: -0.1em;
    margin-left: 0.3em;
    padding: 0;
    z-index: 3;
}

article.page {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

a {
    color: black;
    
}

a:hover {
    cursor: pointer;
}

/* headerille, naville, jakajalle ja footerille koko sivun leveys */
header, nav, .jakaja, footer {
    margin-left: calc(50% - 50vw);
    width: 100vw;
	
}

header {
    height: 10%;
    color: #F0EBEB;
    text-align: center;
    padding: 1em;
    font-size: 200%;
    font-family: 'Changa', sans-serif;
    letter-spacing: 0.0475em;
    text-shadow: 25px 15px 10px rgba(3, 15, 19);
    position: relative;
    z-index: 5;
}

/* headerin ikonin asettelua*/
.header_icon {
    transform: rotate(-25deg);
    position: relative;
    bottom: 1.5em;
    text-shadow: 15px 15px 10px rgba(3, 15, 19);
}

h2.headeri, h3.headeri {
    color: #F0EBEB;
    font-size: 1em;
    text-shadow: none;
}

h3.headeri {
    font-size: 0.4em;
}

footer {
    background-color: #364549;
    color: #F7F5EE;               
    text-align: center;
    padding: 0.225em;
    font-size: 1.1em;
    clear: both;
	box-shadow: 0 0 1px black;
}

/* horizontal navbar keskitettynä */
nav {
    background-color: #364549;
    color: #F7F5EE;               
    text-align: center;
    padding-top: 0.4em;
    font-size: 1.1em;
    clear: both;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
	box-shadow: 0 0 2px black;
}

ul {
    text-align: center;
    list-style-type: none;
    margin-top: -0.45em;
    padding: 0;
    overflow: hidden;
    background-color: #364549;   
}

li {
    display: inline-block;
    padding: 0.1em 0.5em 0.35em 0.5em;
    margin-left: -1.4em;
}

li a, footer a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em
}

li a:hover {
    background-color: black;
    padding-top: 0.05em;
    padding-bottom: 0.33em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* navin ikonien asettelua*/
.nav_icon {
    position: relative;
    top: 0.15em;
    padding-right: 0.3em; 
}
/* navin määrittely päättyy */

.jakaja {
    color: #F0EBEB;
    font-size: 150%;
    font-family: 'Changa', sans-serif;
    letter-spacing: 0.0475em;
	box-shadow: 0 0 1px black;
}

section {
    background: inherit;
    max-width: 80%;
    overflow: hidden;
    margin: 2em auto;
    letter-spacing: 0.0475em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* tasakorkuiset profiilikortit sisällöstä riippumatta .top ja .bottom kiinnittää sisällön ylös ja alas */
section.portfolio {
    overflow: visible;
    max-width: 80%;
    display: flex;
    align-items: stretch;
}

.content_left, .content_right, .content_middle {
    max-width: 40%;
    overflow: hidden;
    font-size: 0.875em;
    padding: 2em 1em;
	box-shadow: 0 0 10px rgb(119, 131, 133, 0.8);
}

.content_left {
    float: left;
    margin: 1.5em 1em 1.5em 4.25em;
    max-width: 30%;
}

.content_right {
    float: right;
    margin: 1.5em 4.25em 1.5em 1em;
}

.content_middle {
    float: none;
    display: block;
    margin: 1.5em auto;
    max-width: 85%;
    text-align: center;
    border: none;
    border-radius: 0; 
}

/* contentin ikonien säätöä */
.section_icon {
    font-size: 48px;
    position: relative;
    top: 0.2em;
    left: 1em;
    color: #575757;
    margin-right: 1.05em;
}

.omakuva {
    display: block;
    margin: 0 auto;
    width: 100%;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
	opacity: 0.95;
}

.kehys {
    padding: 0;
    box-shadow: 0 0 0px #445b75;
}

.float_right {
    float: right;
    margin-left: 1.5em;
	margin-bottom: -2em;
	margin-top: -5em;
}


.info {
    max-width: 45%;
    border: none;
    border-radius: 0;
    color: black;
    font-size: 1em;
    text-align: left;
}

.more {
    position: relative;
    margin-left: auto;
    max-width: 70%;
    text-align: left;
    padding: 0 1em 1em 1em;
    margin-top: 15em;
	box-shadow: 0 0 10px rgb(119, 131, 133, 0.4);
}

.more h3, .leftheader, .rightheader {
    display: table;
    position: relative;
    top: 0;
    margin-left: -1em;
    margin-bottom: 1em;
    background-image: radial-gradient(closest-side at 30% 65%, rgba(3, 15, 19, 0.1), rgba(12, 58, 110, 0.1) );
    border-bottom-right-radius: 0.5em;   
}

.leftheader {
    font-size: 2em;
    margin-left: -0.5em;
    margin-bottom: 2em;
}

.rightheader {
    margin-left: auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.5em; 
    margin-right: -0.5em;
    margin-bottom: 2em;
    font-size: 2em;
}

.harrastusbox {
    display: block;
    margin: 1em auto;
}

.harrastusbox h2 {
    font-size: 3em;
    text-shadow: 1px 0 grey;
    padding: 0.5em 0;
}

.harrastusbox img {
    max-width: 25%;
    margin-bottom: 1em;
    border-top-left-radius: 1em;
}

h2, h3 {
    font-size: 1.5em;
    padding: 0.5em;
    font-family: 'Roboto Slab', serif;   
}

h3 {
    font-size: 1.3em;
}

.italic {
    font-style: italic;
}

.hyppykohta {
    display: block;
    height: 30px;
    margin-top: 30px;
    visibility: hidden;
}

/* PROFIILIKORTTIEN TYYLIT */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    max-width: 250px;
    text-align: center;
    background: linear-gradient(to bottom right, rgba(3, 15, 19, 0.05), rgba(12, 58, 110, 0.4) ),
                radial-gradient(closest-side at 30% 65%,#e5e5e5, #ffffff);
    word-wrap: break-word;    
}

.top .bottom {
    display: flex;
    flex-direction: column;
} 

.top {
    align-self: flex-start;
    margin: auto;
    width: 90%;
    min-height: 200px;
}

.bottom {
    justify-content: flex-end;
    min-height: 250px;
}

.border {
    border-top: 2px solid black;
}

.cardimg {
    width: 100%;
    height: auto;
    margin-top: 1em;
}

.greyscale {
    filter: grayscale(100%)
}
  
.title {
    color: grey;
    font-size: 18px;
}
  
.cardfooter {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black; /* teksti piiloon */
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
	box-shadow: 0 0 15px #445b75;
}

a.kortti {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  

.buttonlink, .buttonlink:hover {
    color: white;
    cursor: pointer;
}

.cardfooter:hover {
    /* opacity: 0.7; */
    cursor: default; /* pointer & läpinäkyvyys pois ennen linkitettävää sisältöä */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.6);
    color: white; 
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0.5em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    opacity: 0.7;
}
/* PROFIILIKORTTIEN MÄÄRITTELY PÄÄTTYY */


/* AIKAJANAN TYYLIT (komponentti w3schools-sivustolta) */
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    width: 95%;
    margin: 0 0;
}

h2.historia {
    font-size: 110%;
    max-width: 95%;
    letter-spacing: 0.0875em;
    font-family: 'Roboto Slab', sans-serif;
    text-shadow: 1px 0 black;
    padding-left: 0;
}
  
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: -20px;
    bottom: -20px;
    left: 50%;
    margin-left: -3px;
}
  
/* Container around content */
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;    
}
  
/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid rgba(12, 58, 110, 0.8);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
/* Place the container to the left */
.left {
    left: 0;
}
  
/* Place the container to the right */
.right {
    left: 50%;
}
  
/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
/* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
}
  
/* The actual content */
  .content {
    padding: 0.8em 0.65em 1.2em 0.65em;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px grey;
    font-size: 92%;
    letter-spacing: 0;
}


/* tilaa portfoliokorteille */
@media only screen and (max-width: 1400px) {
    section.portfolio {
        max-width: 90%;
    }
	.card {
        max-width: 230px;
		min-width: 230px;
    }
}

/* tilaa portfoliokorteille */
@media only screen and (max-width: 1100px) {
    .card {
        max-width: 200px;
		min-width: 200px;
    }
}
    
/* Media queries - Responsive timeline on screens less than 800px wide */
@media screen and (max-width: 800px) {
    .aikajana {
        max-width: 100%;
    }
    
    div.timeline {
        float: left;
        margin-top: 40px;
    }
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 0;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
}

@media only screen and (max-width: 800px) {
    section, section.portfolio {
        display: block;
        text-align: center;
        clear: both;
        margin: 0 auto;
        padding: 1em;
    }
    
    .content_left, .content_right {
        display: block;
        text-align: center;
    }
    
    .content_left {
        float: none;
        margin: 0.5em auto;
        max-width: 50%;
    }
    
    .content_right {
        float: none;
        max-width: 85%;
        margin: 0.5em auto;
    }

    .more, .info {
        max-width: 100%;
    }

    nav {
        font-size: 1em;
    }

    table.logo {
        display: none;
    }

    .hyppykohta {
        height: 27px;
        margin-top: 27px;
    }

    .card {
        display: block;
        max-width: 60%;
        margin: 1em auto;
    }
	
	.top {
        min-height: 292px;		
    }
	
	.toptext {
		margin-top: 0.6em;
}

/* ankkurilinkin säätäminen, kun navi siirtyy kahdelle riville */
@media only screen and (max-width: 400px) {
    .hyppykohta {
        height: 55px;
        margin-top: 55px;
    }

    div.timeline {
        margin-top: 60px;
    }

    .more, .info, .harrastusbox {
        word-wrap: break-word;
    }
    
}
}